<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.likeanowl.aitameetup.repository.BoardingPassMapper">

    <resultMap id="boardingPass" type="me.likeanowl.aitameetup.model.BoardingPass">
        <constructor>
            <idArg column="id" javaType="_long"/>
            <arg column="guest_id" javaType="_long"/>
            <arg column="full_name" javaType="String"/>
            <arg column="destination" javaType="String"/>
            <arg column="arrival_date" javaType="java.time.LocalDateTime"/>
            <arg column="invitation_code" javaType="String"/>
            <arg column="checked_in" javaType="_boolean"/>
            <arg column="checked_in_at" javaType="java.time.Instant"/>
        </constructor>
    </resultMap>

    <select id="insertBoardingPass" resultMap="boardingPass">
        INSERT INTO boarding_pass (guest_id, full_name, destination, arrival_date, invitation_code)
        VALUES (#{boardingPass.guestId},
                #{boardingPass.fullName},
                #{boardingPass.destination},
                #{boardingPass.arrivalDate},
                #{boardingPass.invitationCode}) RETURNING *;
    </select>
    <select id="boardingPassExists" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      from boarding_pass
                      WHERE (guest_id = #{guest_id} AND
                             destination = #{destination} AND
                             arrival_date = #{arrival_date}));
    </select>
    <select id="findBoardingPass" resultType="me.likeanowl.aitameetup.model.BoardingPass" resultMap="boardingPass">
        SELECT id,
               guest_id,
               full_name,
               destination,
               arrival_date,
               invitation_code,
               checked_in,
               checked_in_at
        FROM boarding_pass
        WHERE invitation_code = #{invitation_code};
    </select>

    <select id="checkIn" resultMap="me.likeanowl.aitameetup.repository.GuestMapper.guest">
        WITH checkedIn AS (
        UPDATE boarding_pass
        SET checked_in = true,
            checked_in_at = NOW()
        WHERE id = #{id} RETURNING guest_id)
        SELECT g.*
        FROM checkedIn cte
                 LEFT JOIN guest g ON cte.guest_id = g.id
        WHERE cte.guest_id = id;
    </select>

    <select id="getLastCheckedInGuest" resultType="me.likeanowl.aitameetup.model.Guest">
        SELECT (g.*)
        FROM boarding_pass bp
                 LEFT JOIN guest g ON bp.guest_id = g.id
        WHERE bp.checked_in_at >= NOW() - INTERVAL '1 DAY'
        ORDER BY bp.checked_in_at
        LIMIT 1;
    </select>
    <select id="getBoardingPass" resultType="me.likeanowl.aitameetup.model.BoardingPass">
        SELECT id,
               guest_id,
               full_name,
               destination,
               arrival_date,
               invitation_code,
               checked_in,
               checked_in_at
        FROM boarding_pass
        WHERE id = #{id};
    </select>

</mapper>